<?xml version="1.0"?>
<launch>
    <!-- hokuyo_node -->
	<!--include file="$(find hokuyo_node)/hokuyo.launch"/-->

    <!--laser_detect_node-->
    <node pkg="laser_detect" type="laser_detect_node" name="laser_detect" output="screen">
	<param name="laser_link_" value="laser"/>
	<param name="minDist_" value="0.3"/>
	<param name="maxDist_" value="3"/>
	<param name="clusterThreshold_" value="2.0"/>
	<param name="clusterNMin_" value="4"/><!--2.9m左右点数-->
	<param name="clusterNMax_" value="58"/> <!--障碍物在机体加桨边缘时的激光点数-->
	<param name="minWidth_" value="0.05"/>
	<param name="maxWidth_" value="0.2"/>
	
    </node>

</launch>
